.section:hover{
    background-color: rgba(6, 6, 65,0.8);
    opacity: 0.8;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
textarea:hover,input:hover,select:hover{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
